<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create post</title>
</head>

<body>
    <div class="container">
        <div class="logo-space">
            <h1>Golang blog</h1>
        </div>
        <form action="/post" method="POST" id="post-form">
            <input type="text" name="author" placeholder="Author"></text>
            <textarea class="form-control" placeholder="Enter Post" name="content"></textarea>
            <input type="submit" class="form-control btn btn-primary">
        </form>
    </div>
</body>

</html>
